.card {
  margin: 0 0.5em;
  box-shadow: 1px 2px 4px 0 rgb(0, 0, 0);
  align-self: auto;
  background-color: rgb(213, 213, 213);
  width: 18rem;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  border-width: 0.5px;
} */

.container-fluid {
  height: auto;
  display: list-item;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.cardTitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: x-large;
  text-shadow: 2px 2px 2px #000000;
  color: rgb(43, 255, 0);
  text-align: center;
}

.col {
  align-items: stretch;
  width: 100%;
}

.row {
  column-count: 2;
}

html,
body {
  width: 100%;
  height: 100%;
}
.App {
  background-color: rgb(255, 255, 255);
}

#icon {
  position: relative;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.tags {
  text-align: center;
}
